{
    "env": {
        "node": true,
        "jest": true,
        "browser": true,
        "es2021": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": [
        "react-app",
        "airbnb",
        "prettier",
        "plugin:import/typescript",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:react/jsx-runtime"
    ],
    "plugins": ["prettier", "@typescript-eslint"],
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "ignorePatterns": ["node_modules/", "serviceWorker.ts", "setupTests.ts"],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        },
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "no-nested-ternary": "off",
        "react/no-array-index-key": "off",
        "import/no-extraneous-dependencies": "off",
        "react-hooks/exhaustive-deps": "off",
        "react/jsx-filename-extension": ["warn", { "extensions": [".ts", ".tsx"] }],
        "import/extensions": ["error", "ignorePackages", { "js": "never", "jsx": "never", "ts": "never", "tsx": "never", "": "never" }],
        "import/order": [
            "error",
            {
                "groups": ["builtin", "external", "internal", ["parent", "sibling"], "index", "object", "type"],
                "pathGroups": [
                    {
                        "pattern": "{react*,react*/**}",
                        "group": "external",
                        "position": "before"
                    },
                    {
                        "pattern": "lib/**",
                        "group": "internal",
                        "position": "before"
                    },
                    {
                        "pattern": "{*.+(css|scss|svg|png|jpg|jpeg),assets/**,@emotion/**,styles/**}",
                        "patternOptions": {
                            "dot": true,
                            "nocomment": true,
                            "matchBase": true
                        },
                        "group": "object",
                        "position": "after"
                    }
                ],
                "pathGroupsExcludedImportTypes": ["react"],
                "newlines-between": "always",
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                }
            }
        ]
    }
}
